.text {
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.canvas {
    width: 600px;
    height: 600px;
    display: inline-block;
    border: 3px solid darkblue;
    box-sizing: border-box;
}

.guess {
    user-select: none;
}

.leaderboard-item {
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 100%;
    border: 1px dashed purple;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: purple;
}

#leaderboard {
    list-style-type: none;
    padding: 0;
}